torch
datasets
transformers
tensorflow
langchain_core
langchain-community
tensorrt

pipeline
datasets
playwright
html2text
sentence_transformers
faiss-cpu
accelerate==0.21.0
peft==0.4.0
bitsandbytes>=0.41.3
trl==0.4.7
nest_asyncio
spacy
newspaper
nltk
newspaper3k
langchain_text_splitters
unidecode
lxml_html_clean
